


	//发布订阅
	//props: ['content',"index"],
	//1.子组件发布
	//:index="index" 
	//this.$emit('delete',this.index);
	//2.父组件订阅
	//@delete="handleDelete"
	//this.list.splice(index,1);


----------------------------------------------------------------------------------------------------------


<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Toggle</title>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>

	<div id="app">
	  <input v-model="subValue"/>
	  <button @click="pullValue()">提交</button>

	  <!-- v-for -->
	  <ul>
	  	<todo-item v-for="(item,index) of list" :key="index" :content="item" :index="index" @delete="handleDelete"></todo-item>
	  </ul>
	</div>

<script>
	


	//局部组件
	var TodoItem = {
		//接收属性
		props: ['content',"index"],
		//设置模板信息		
		template: "<li @click='handleClick'>{{content}}</li>",
		methods: {
			handleClick: function(){
				this.$emit('delete',this.index);
			}
		}
	}


	var dataObj = {
		show: true,
	  	list: [],
	  	subValue:""
	}
	new Vue({
	  el: "#app",
	  //局部组件注册
	  components: {
	  	'todo-item': TodoItem
	  },
	  data: dataObj,
	  methods: {
	  	pullValue: function(){
	  		dataObj.list.push(dataObj.subValue);
	  		this.subValue = '';
	  	},
	  	handleDelete: function(index){
	  		this.list.splice(index,1);
	  	}
	  }
	})
</script>
</body>
</html>